{% extends 'base.html.twig' %}

{% block title %}New Question{% endblock %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <h1>Add new Question</h1>
                {{ include('admin/question/_form.html.twig') }}

            </div>
            <div class="col-md-3">
                <a href="{{ path('admin_index') }}" class="btn btn-lg btn-block btn-dark">Back to list</a>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('addAnswer') }}
{% endblock %}